[2012-12-12 18:45] piyushk opened #1 "Merge segway-rmp-ros-pkg with remote master"
https://github.com/utexas-bwi/segway-rmp-ros-pkg is a fork of the original segway_rmp stack. Push all changes upstream to https://github.com/wjwwood/segway-rmp-ros-pkg

[2012-12-12 18:51] piyushk opened #2 "Publish diagnostic messages"
The Segway driver needs to publish diagnostic messages. The few main cases where diagnostics would be useful are:
1. The driver cannot connect to the h/w
2. Status messages are unavailable
3. The segway is not moving despite receiving non-zero velocity commands

[2013-01-22 21:06] piyushk opened #3 "get_simple_gazebo_model writes to /tmp"
if multiple users work on the same machine, the file in /tmp will collide and prevent overwriting.

1) Easy fix: call rm after running xacro
2) Good fix: dont write files for to tmp for this

[2013-01-25 19:02] #3 closed, assigned to nobody

[2013-02-28 18:55] piyushk opened #4 "gazebo crash when kinect_mount in urdf is supplied the name "kinect""
Not sure what's going on. Need to run gazebo in gdb to find out.

[2013-02-28 18:56] piyushk opened #5 "Add flag to allow kinect-laserscan to use depth_registered in the real world and depth in simulation"
Simulation does not publish on the depth_registered topic.

[2013-05-06 04:13] #1 closed, assigned to nobody

[2013-05-06 04:24] piyushk opened #6 "catkinize"
As of 5/5

The segbot stack has only runtime binary dependencies (i.e. roslaunch) on the following packages:
- hokuyo_node (dry)
- xacro (dry)
- urdf (wet)
- freenect_launch (wet)
- openni_launch (wet)

Direct code dependencies are on the following packages
- filters (dry)
- laser_filters (dry)
- tf (wet)
- segway_rmp (wet)

We need atleast filters and laser_filters to be catkinized before proceed

[2013-06-21 18:54] piyushk opened #7 "cleanup segbot_description"
segbot description has a number of hacks to choose between a full robot model with differential drive controller (for gazebo) and a simplistic cylindrical collision model with a generic object controller (for gazebo).

This approach has caused problems in the past and generally degrades code quality. Xacro in hydro supports conditional blocks (https://github.com/ros/xacro/pull/8), which should be

[2013-06-27 21:44] #6 closed, assigned to piyushk

[2013-06-28 16:41] piyushk opened #9 "hydro system debian dependency issues"
- openni_launch has not been release into Hydro. The corresponding dependency has been commented out in the segbot_sensors package manifest. Uncomment once system deb is released
- The current release of joint_state_publisher is broken. Should be fixed when version > 1.10.11-0 is released.

[2013-07-13 19:43] #9 closed, assigned to nobody

[2013-07-13 19:51] piyushk opened #10 "release 0.1.3 broken"

[2013-07-13 20:04] #10 closed, assigned to nobody

[2013-07-17 21:53] piyushk opened #11 "remove nan_to_inf filter"
hokuyo_node was publishing nan or 0 instead of +inf, which has been fixed in v1.7.7 (https://github.com/ros-drivers/hokuyo_node/issues/5).

Usage of nan_to_inf filter is now redundant. It should be removed.

[2013-07-25 19:37] piyushk opened #12 "get_simple_gazebo_model installed with incorrect permissions"

[2013-08-06 15:41] piyushk opened #13 "switch plugins to the ones ported over to gazebo_plugins"
object_controller and ros video have been ported over to gazebo_plugins. fix the description accordingly.

[2013-08-06 18:34] #11 closed, assigned to nobody

[2013-08-06 18:34] #13 closed, assigned to nobody

[2013-08-06 18:41] piyushk opened #14 "publish zero joint angles in simulation as well"
use joint_state_publisher or robot_state_publisher to publish zeros for joints in simulation as well. The true values are not needed for now.

[2013-08-06 19:13] #14 closed, assigned to nobody

[2013-08-06 19:18] piyushk opened #15 "rename all internal files to xml"

[2013-08-06 19:29] #15 closed, assigned to nobody

[2013-08-06 19:29] #7 closed, assigned to piyushk

[2013-08-06 19:29] #12 closed, assigned to nobody

[2013-08-07 17:52] #5 closed, assigned to piyushk

[2013-08-07 17:56] #4 closed, assigned to piyushk

[2013-08-08 16:12] piyushk opened #16 "robot_state_publisher usage in segbot_bringup"
the current version of robot_state_publisher cannot support tf_prefix. See: https://github.com/ros/robot_state_publisher/pull/2

In the meantime, it might make sense to create an alternate robot_state_publisher with tf_prefix support.

[2013-08-08 17:00] #16 closed, assigned to nobody

[2013-08-08 18:46] piyushk opened #17 "kinect laserscan configuration publishing nans"
When no reading is received from the Kinect, assume it is clear.

This is potentially dangerous, the Kinect has a blind spot in front of the sensor. When used in conjunction with a Hokuyo, we should be fine.

[2013-08-08 18:48] #17 closed, assigned to nobody

[2013-08-22 20:59] piyushk opened #19 "footprint in segbot_sensors too conservative"
The footprint is too small, and there are problems with the old hokuyo

[2013-08-22 21:52] #19 closed, assigned to nobody

[2013-09-19 16:48] jack-oquin opened #20 "segbot_sensors: missing dependency on depthimage_to_laserscan"
I noticed this was missing today when I installed the software on my home development machine using the [Installing our code-base on a machine](http://farnsworth.csres.utexas.edu/bwi/index.php/Installing_our_code-base_on_a_machine#ROS_Installation) instructions from the wiki.

As a quick fix, I added **ros-hydro-depthimage-to-laserscan** to the list of APT packages to install.

But, I think a bett

[2013-12-09 21:36] tfoote opened #21 "segbot needs proper find_package kdl in the cmake"
This same thing was fixed in robot_state_publisher here: https://github.com/ros/robot_state_publisher/pull/10/files

It's currently regressed on the buildfarm.
http://jenkins.ros.org/view/HbinP64/job/ros-hydro-segbot-bringup_binarydeb_precise_amd64/197/console

[2013-12-16 14:06] #21 closed, assigned to jack-oquin

[2014-01-25 20:50] jack-oquin opened #22 "segbot_sensors: verify sonar and IR sensor ranges and fields of view"
The sonar ranges appear to be about half the true distance, probably a firmware error.

To generate a good point cloud from these data for navigation, we need reasonable estimates of the field of view. I am guessing 0.5 radians (about 30 degrees), but we should be able to measure the angle over which each sensor detects objects.

[2014-01-25 20:57] jack-oquin opened #23 "segbot_description: define ROS frames of reference for each Arduino sensor"
To do point cloud conversion for navigation, we must define a ROS frame of reference for each sensor, giving its location and orientation relative to the sensor plate or the robot base.

[2014-01-27 22:15] jack-oquin opened #24 "segbot_firmware: add check-sum to message"
The sensor_ranges_driver needs some reasonable way to detect incomplete or garbled messages from the Arduino serial port.

The simplest solution that comes to mind is adding a check-sum to the end of each message.

[2014-03-20 13:49] jack-oquin opened #25 "segbot_sensors: missing build dependencies"
[code]

[2014-03-20 13:52] #25 closed, assigned to jack-oquin

[2014-04-20 16:42] #20 closed, assigned to jack-oquin

[2014-04-24 19:08] jack-oquin opened #26 "segbot_bringup: not installing udev rules"
add a script to do the install

[2015-03-06 17:46] jack-oquin opened #30 "segbot: clean up branches in this repository, delete most of them"
There are currently 10:

- **master**
- active:
  - **segbot2**: almost ready to merge
  - **new_lazer**: already merged into segbot2, delete now?
  - **piyushk/new_robot**: work in progress?
- stale:
  - **devel**: this version was released to ROS Groovy. It's no longer in use, but references exist in ``rosdistro/groovy/distribution.yaml`` and hence the ROS wiki.
  - **navigation_testing**: has o

[2015-03-06 18:27] jack-oquin commented on #30
Barring objections, I recommend immediate deletion of these:
- cleanup_segbot_description
- stable
- add_band_repair
- robot_state_publisher
- new_lazer

@jsinapov: please decide what to do with **navigation_testing**

I will ask on *ros-release* how to drop support for Groovy and the **devel** branch.

Let's plan to delete **segbot2** when #31 is finally merged.

[2015-03-06 19:57] piyushk commented on #30
@jack-oquin I agree with your recommendation. I will delete the branches later today.

[2015-03-06 20:29] jack-oquin commented on #30
On reflection, I recommend leaving **devel** alone. It's the easiest solution.

[2015-03-09 19:44] jack-oquin commented on #30
I deleted most of the stale and already-merged branches:

- cleanup_segbot_description
- stable
- add_band_repair
- robot_state_publisher
- new_lazer

They can be restored if somebody thinks it was a mistake. :smile:

[2015-03-16 20:42] jack-oquin commented on #30
@jsinapov: I am leaving **navigation_testing** alone, but please delete if you no longer need it.

[2015-03-16 20:42] #30 closed

[2015-03-23 20:18] piyushk commented on #26
We can automatically install udev rules. See https://groups.google.com/forum/#!topic/ros-sig-buildsystem/JqQjpcitobM

This means that the script should only be used when testing a source install, and correct udev rules are not already installed in the system deb. In any case, we should not be installing the script that install udev rules, as we don't want it accidentally run via a deb install.

I

[2015-03-23 21:36] jack-oquin commented on #26
I wonder now if we actually want to install the rules on every machine.

Maybe only the robots?

[2015-03-23 21:53] piyushk commented on #26
That's an excellent point. I didn't realize that those rules would affect every machine our code was installed on. Let's stick with the script for now. I'll close this issue since I've verified that the script is getting installed with the current release.

[2015-03-23 21:53] #26 closed

[2015-04-02 04:46] piyushk opened #33 "segbot_sensors freenect.launch usage is incorrect in Indigo."
There was a change to freenect.launch in Indigo due to changes introduced in tf2 in Indigo. Consequently, a test is legitimately failing:

http://jenkins.ros.org/job/devel-indigo-segbot/ARCH_PARAM=amd64,UBUNTU_PARAM=trusty,label=devel/changes

I'll try and fix this in a rosdistro independent manner.

[2015-04-02 18:14] piyushk opened #34 "[segbot_description] move sonar sensor plate into its own xacro macro so that it is not copied in a top level file."

[2015-04-03 03:41] piyushk commented on #33
I've opened a downstream issue report to see if we can add this change easily in a distro independent manner.

[2015-04-04 14:47] jack-oquin opened #35 "segbot_sensors: add diagnostics and arduino to launch scripts"

[2015-04-04 14:49] jack-oquin commented on #35
@maxsvetlik: this stripped-down arduino.launch should be ready to invoke from some appropriate place in the segbot_v2.launch files.

[2015-04-04 21:35] jack-oquin commented on #35
I think this is fixed, but will leave it open until one of us tests it on the real robot.

[2015-04-04 23:00] piyushk commented on #35
There seem to be some failing tests because of missing manifest dependencies:
[code]

http://jenkins.ros.org/job/devel-hydro-segbot/ARCH_PARAM=amd64,UBUNTU_PARAM=precise,label=devel/24/console

[2015-04-05 15:23] jack-oquin commented on #35
``segbot_sensors`` had no ``roslaunch_add_fiile_check()`` for the diagnostics launch file.

I will add that test and the missing dependencies.

[2015-04-09 18:30] piyushk opened #36 "Arduino driver should only run on the robot, not in simulation."
Move the arduino launch command into the file running on the real robot, and not the auxiliary file which is shared between the real robot and simulation.

[2015-04-09 18:31] #36 closed

[2015-04-10 00:28] mleonetti opened #37 "kinect in segbot_sensors"
the new kinect.launch in segbot_sensors includes  file="$(find freenect_launch)/launch/freenect_tf_prefix.launch which apparently doesn't exist, at least on Roberto. Do we need to update something?

[2015-04-10 00:34] piyushk commented on #37
You'll need to download the hydro-devel branch from freenect_stack while the new deb is being built.

https://github.com/ros-drivers/freenect_stack/tree/hydro-devel
[code]

[2015-04-10 14:18] jack-oquin commented on #36
Sorry, I should have caught that in testing.

[2015-04-15 19:36] #35 closed

[2015-04-15 19:37] jack-oquin opened #38 "segbot_sensors: Arduino scripts complain on Indigo"
The queue_size parameter was previously optional, not that behavior is *deprecated*.

[code]

[2015-04-16 00:32] #38 closed

[2015-04-16 00:36] jack-oquin commented on #22
We measured the field of view with a protractor at approximately 0.4 radians.

[2015-04-16 00:36] #22 closed

[2015-04-16 22:42] #37 closed

[2015-04-16 23:02] piyushk commented on #33
This issue has been fixed. We now call freenect_tf_prefix.launch in both Hydro and Indigo. Until ros-hydro-freenect-stack v0.3.3 is released, we'll have to use freenect_stack via source. See #37.

[2015-04-16 23:02] #33 closed

[2015-04-29 20:02] jack-oquin opened #39 "segbot_sensors: smooth voltage data in battery diagnostics node"
The raw battery voltages reported seem to fluctuate by several tenths of a volt. We decided to go ahead and publish the raw readings on the ``/battery0`` topic, but for reporting purposes it seems better to smooth out the data.

A reasonable approach is for **battery_diagnostics** to apply an [exponentially weighted moving average](http://en.wikipedia.org/wiki/Moving_average#Exponential_moving_ave

[2015-04-30 00:49] maxsvetlik commented on #39
Looks good to me

[2015-05-02 03:14] jack-oquin opened #41 "segbot_bringup: add stop controller node"
Design sketch:
* Subscribes to ``cmd_vel`` topic.
* Republishes on ``safe_cmd_vel``, to which **segway_rmp** driver will subscribe.
* Accepts state transition requests from multiple, self-named sources, probably via a ROS service call.

Maintains a state machine with at least these states:
* Running: passes ``cmd_vel`` through to ``safe_cmd_vel``.
* Paused: passes zeroes to ``safe_cmd_vel.
* Stopp

[2015-05-02 17:36] jack-oquin commented on #41
I am thinking of moving this new node to bwi_common, as a separate package. The message and service declarations need to go in bwi_msgs, anyway, and it is not particularly segbot-specific.

[2015-05-03 15:24] jack-oquin commented on #41
With this design, it is possible for a requester to set PAUSED status and then crash, leaving the robot unable to move. The failing node could be respawned by roslaunch and clear the stoppage, itself.

We could also provide a RESET command that clears all PAUSED or STOPPED requests, regardless of requester.

[2015-05-04 00:36] maxsvetlik commented on #41
Does this mean that raw velocity commands will now be collision minded? The idea being that the 'running' state is dependent on various safety checks (eg not in obstacle, arm in footprint) as well as movement being invoked?

[2015-05-04 01:13] jack-oquin commented on #41
Max: It could be done that way, but I don't think it advisable. The move_base navigation stack already handles obstacles adequately, and there can be problems when multiple collision avoidance algorithms operate independently.

The immediate requesters of this service that I anticipate are:
* the arm safety controller
* user-requested pause or stop

[2015-05-09 16:43] maxsvetlik commented on #41
@jack-oquin I've written a preliminary navigation safety manager for the arm. It's currently written as a service than can be called to put the arm into a safe (inside the robot's footprint) configuration. I assume (correct me if I'm wrong) that this should interface with your node by simply publishing whether or not the arm is in a navigation-safe state.

[2015-05-09 20:16] jack-oquin commented on #41
No, the stop_base_controller node provides [a ``/stop_base`` service call](https://github.com/utexas-bwi/bwi_common/blob/master/bwi_msgs/srv/StopBase.srv).

When the arm is *not* in a safe position, set the [bwi_msgs/StopBaseStatus component](https://github.com/utexas-bwi/bwi_common/blob/master/bwi_msgs/msg/StopBaseStatus.msg) to PAUSED. When the robot is safe to move, set it to RUNNING. Use your

[2015-05-09 20:28] jack-oquin commented on #41
Note that the new code is actually in the [bwi_common](https://github.com/utexas-bwi/bwi_common) repository.

Plan to use this issue to update the segbot launch scripts, so that node runs automatically and handles the ``cmd_vel`` topic (instead of the segway base).

[2015-05-09 21:14] jack-oquin commented on #41
ROS interfaces for the stop_base_controller node are [documented in the README.rst](https://github.com/utexas-bwi/bwi_common/blob/master/stop_base/README.rst). The message links should resolve once the ROS build farm picks up the recent merge.

[2015-05-13 18:43] jack-oquin opened #42 "segbot_sensors: Arduino diagnostic status should be yellow until device contacted"
Right now, it comes up green when the driver is starting, before the open succeeds.

[2015-05-13 18:59] #39 closed

[2015-05-20 21:10] jack-oquin opened #43 "segbot_sensors: NanToInfFilter laser filter missing on segbot v1"
Starting **marvin** on Hydro using the following command:
[code]
These errors appear:
[code]

I saw navigation failures that may have been caused by failure to clear a previously-observed moving obstacle. Unclear yet whether that is related to the messages above.

[2015-05-20 21:12] jack-oquin commented on #43
It looks like that filter *should* be loaded for the segbot v1 machines.

[2015-05-26 14:46] piyushk commented on #43
@jack-oquin That's correct. Let's see if we can reproduce this error tomorrow. I think the workspace on marvin might be messed up.

[2015-05-26 21:20] jack-oquin commented on #43
Yes, I'll see you in the morning.

Pretty sure I created a new workspace before running any tests last week.

[2015-05-27 18:13] jack-oquin commented on #43
There was some problem on **marvin** with resolving filter plugins. Piyush did an apt-get upgrade for a large number of down-level packages on that laptop, which seems to have eliminated the problem.

[2015-05-27 18:13] #43 closed

[2015-06-10 16:06] jack-oquin opened #45 "segbot_bringup: add udev symlink rule for segway RMP base"
Use something like ``/dev/segway_rmp``.

[2015-06-10 16:16] jack-oquin opened #46 "segbot: move segbot_apps and segbot_simulator packages here"
Some time this summer would be nice.

[2015-06-18 15:08] jack-oquin opened #47 "segbot_bringup: segbot_v2.arm.launch missing in master"
This causes the bwi launch file checks to fail:

 * http://jenkins.ros.org/job/devel-indigo-bwi/ARCH_PARAM=amd64,UBUNTU_PARAM=trusty,label=devel/5/testReport/(root)/Results/test_ran/

The referenced file exists in the ``piyushk/0.3.3`` branch. I don't know if that is safe to merge into ``master`` yet.

[2015-06-25 01:08] jack-oquin commented on #41
This change has been merged into the master robot launch files.

[2015-06-25 01:08] #41 closed

[2015-06-30 17:57] piyushk opened #48 "frame_id sensor_base does not exist."
@shiqizhang6 found this error today. We can take a look at it tomorrow.

[code]

Looking at the tf tree, sensor_base is not a frame_id on the tree. What was this supposed to be?

[2015-06-30 21:08] jack-oquin commented on #48
That was supposed to be the frame of the base plate on which the arduino, sonars and other sensors are mounted. It may not be necessary, as long as all the sonar and other sensor frames are suitably defined.

[2015-07-29 19:07] jack-oquin commented on #46
Merged them  into ``segbot_merge`` branch for testing.

[2015-07-29 19:59] #46 closed

[2015-07-30 17:39] shiqizhang6 opened #50 "Multiple packages found with the same name"
Multiple packages found with the same name "segbot_gazebo":
- segbot/segbot_gazebo
- segbot_simulator/segbot_gazebo

Multiple packages found with the same name "segbot_gui":
- segbot/segbot_gui
- segbot_apps/segbot_gui

Multiple packages found with the same name "segbot_logical_translator":
- segbot/segbot_logical_translator
- segbot_apps/segbot_logical_translator

Multiple packages found with the

[2015-07-30 17:47] shiqizhang6 commented on #50
This error appears while running: bwi_launch/launch/simulation.launch
@piyushk

[2015-07-30 17:48] piyushk commented on #50
@shiqizhang6 We've merged a few repositories. Please run the following commands:
[code]

[2015-07-30 17:48] jack-oquin commented on #50
This is caused by us merging **segbot_simulator** and **segbot_apps** into **segbot**.

When you update your workspace, you need to delete the two other repositories.

[2015-07-30 17:49] jack-oquin commented on #50
We should send a warning note to the bwi mailing list.

[2015-07-30 17:50] piyushk commented on #50
Already done :+1:.

[2015-07-30 17:50] #50 closed

[2015-08-19 18:55] jack-oquin opened #51 "fix catkin_lint problems with these packages"
Here are the current errors and warnings:

[code]

[2015-09-24 21:43] #34 closed

[2015-09-28 15:46] piyushk commented on #47
Closed via cbd00b20e46b38c472a22b10a9331fabfc790. The launch file has been moved to the segbot_arm_launch package in the segbot_arm repo.

[2015-09-28 15:46] #47 closed

[2015-09-28 15:47] piyushk opened #54 "segbot_logical_translator: rename package and move to bwi_common?"
Issue migrated from redundant segbot_apps repository.

@jack-oquin Original report

As far as I can tell, this package has nothing specifically to do with the segbot platform. It only depends on bwi_common packages and other low-level components, like multi_level_map.

Perhaps I am missing some reason why it needs to be segbot-specific?

At any rate, this can be delayed until the end of the semest

[2016-03-02 22:11] shiqizhang6 opened #56 "segbot_sensors: add topics into rviz config file for showing robot trajectory and traveled distance"
This is mostly for saving scavenger hunt completion certificates.

[2016-03-02 22:53] jack-oquin commented on #56
As we discussed earlier today, assuming it's not high-bandwidth, we can add a certificate topic to the list of those automatically saved on every run.

That way we could collect statistics on the number and types of scavenger hunts. Maybe we should create a failure credential, too.

[2016-05-24 16:03] jack-oquin opened #58 "segbot_v3: not running the stop_base controller"

[2016-05-25 14:59] jack-oquin opened #61 "segbot_logical_translator: build farm failure resolving bwi_msgs/ResolveChangeFloor.h"
[code]

Ref: http://build.ros.org/job/Idev__segbot__ubuntu_trusty_amd64/6/changes

[2016-05-27 20:29] shiqizhang6 opened #62 "segbot_sensors: SegbotVelodyneOutlierRemovalConfig.h missing dependency"
This is the printout error:

/home/users/szhang/catkin_ws_scavenger/src/segbot/segbot_sensors/include/segbot_sensors/segbot_velodyne_outlier_removal.h:60:63:
fatal error: segbot_sensors/SegbotVelodyneOutlierRemovalConfig.h: No such file or directory
#include <segbot_sensors/SegbotVelodyneOutlierRemovalConfig.h>

[2016-05-27 20:31] shiqizhang6 commented on #62
@piyushk @maxsvetlik

[2016-05-27 22:18] jack-oquin commented on #62
Probably a missing dependency on the gencfg output (or something like that).

Things like that might work on one machine and fail on another due to build parallelism and the number of processors available.

[2016-05-31 02:55] shiqizhang6 commented on #62
@jack-oquin Do you mean the issue comes from our use of dynamic reconfiguration or you are pointing to a solution? Sorry that I am new to dynamic reconfiguration.

[2016-05-31 16:37] jack-oquin commented on #62
I was gone Sunday and Monday. I'll take a look at it today.

I am just guessing what the problem may be.

[2016-05-31 19:36] jack-oquin commented on #62
I tried to reproduce this problem in nibbler, but it built without error. I'll try another lab machine.

[2016-06-03 02:31] jack-oquin commented on #61
There is a missing CMake dependency on the message generation.

[2016-06-03 02:40] jack-oquin commented on #61
There is more than one problem here. It still fails, probably because the released version of bwi_common is too old:

 * http://build.ros.org/job/Idev__segbot__ubuntu_trusty_amd64/9/changes

[2016-06-03 02:41] jack-oquin commented on #62
Still working for me. I'll try to find the problem tomorrow via code review.

[2016-06-03 03:02] shiqizhang6 commented on #62
It builds well on the robots, but not on the lab machines. I can try again tomorrow on the lab machines and provide more detailed info. Thanks! @jack-oquin

[2016-06-03 15:44] jack-oquin commented on #62
I found the bug, fixing it now.

[2016-06-03 15:56] jack-oquin commented on #62
I am pretty sure c95eff2 fixes the problem.

Please re-open if I am wrong and it happens again. :smile:

[2016-06-03 15:56] #62 closed

[2016-06-03 16:01] jack-oquin commented on #61
@piyushk: I suspect we can fix this by releasing a new version of ``bwi_common``.

That probably does not depend on those Stanley repositories.

[2016-06-03 16:02] piyushk commented on #61
That sounds fine to me.

[2016-06-03 19:30] shiqizhang6 commented on #62
@jack-oquin Thanks! It compiles on the lab machines now.

[2016-06-04 17:21] jack-oquin commented on #61
Before releasing bwi_common, we should fix these problems:

Test failures:
[code]

ROS lint failures:
[code]

[2016-06-04 17:49] jack-oquin commented on #61
fixed roslint errors in stop_base

[2016-06-17 22:38] jack-oquin opened #65 "segbot_bringup: some roslaunch unit test checks fail"
See: http://build.ros.org/job/Idev__segbot__ubuntu_trusty_amd64/12/testReport/

[2016-06-20 21:29] maxsvetlik opened #66 "libbwi_mapper undefined symbol prevents segbot launch"
On a fresh workspace, and a fresh install of the codebase, I'm seeing the following error when running the standard
$ roslaunch bwi_launch segbot_v2.launch
on clamps (a v2):

/home/users/max/catkin_ws_update/devel/lib/segbot_logical_translator/segbot_logical_navigator: symbol lookup error: /home/users/max/catkin_ws_update/devel/lib/libbwi_mapper.so: undefined symbol: _ZN10map_server15loadMapFromFi

[2016-06-20 22:16] FernandezR commented on #66
After creating a fresh workspace the error was not reproduced and did not occur again for Max.

[2016-06-20 22:16] #66 closed

[2016-06-28 20:40] jack-oquin opened #68 "segbot_launch: monitor computer temperatures, log to diagnostics"
Something like https://github.com/ros-drivers/linux_peripheral_interfaces should work for this.

[2016-06-28 20:41] jack-oquin commented on #68
The segbot_v3 computer case has been observed getting too hot to touch comfortably.

[2016-06-28 20:47] jack-oquin commented on #68
See also: http://wiki.ros.org/libsensors_monitor

[2016-06-29 20:06] piyushk commented on #68
I'm manually monitoring the temperature on the robot that Shiqi's using. After one hour of high usage (full nav stack, person detection, virtour, velodyne, hokuyo, kinect), the core temperature is about 48C. I'll continue monitoring it over the next 2 hours. A high temperature is 79C, and 85C is crit. Somewhere in-between the CPU will get throttled.

Please note that the entire case is a heat-sink

[2016-06-29 20:53] piyushk commented on #68
After 2 hours of continuous usage, the core temperature is at 65C, which is a pretty sharp increase from an hour ago.

[2016-06-29 21:22] jack-oquin commented on #68
Whether it is a problem with the current hardware or not, monitoring temperatures is good basic engineering.

[2016-06-29 21:47] piyushk commented on #68
I agree.

The temp didn't really cross 65C at the end of three hours, but the case had become warmer. I'll think about this a bit more prior to the next round of construction.

[2016-07-08 22:16] jack-oquin opened #71 "migrate from smart_battery_msgs to sensor_msgs/BatteryState"
This is the new ROS standard. It's fairly low-priority, but needs to be done eventually. The older message is now _deprecated_.

The two messages are quite similar:
- http://docs.ros.org/jade/api/smart_battery_msgs/html/msg/SmartBatteryStatus.html
- http://docs.ros.org/jade/api/sensor_msgs/html/msg/BatteryState.html

Most of the additional fields can probably be left alone.

[2016-07-26 19:37] #65 closed

[2016-11-26 18:59] jack-oquin opened #77 "Kinetic: port code base to ROS Kinetic and Ubuntu Xenial"
xref: utexas-bwi/bwi#44, utexas-bwi/bwi_common#83

[2016-11-26 19:01] jack-oquin commented on #77
xref: StanleyInnovation/segway_v3#26

[2016-11-29 23:17] jack-oquin commented on #77
[smart_battery_msgs](http://wiki.ros.org/smart_battery_msgs) is *deprecated* in Kinetic. It has been replaced by [sensor_msgs/BatteryState](http://docs.ros.org/api/sensor_msgs/html/msg/BatteryState.html). Since that message is also available in Indigo, the obvious solution is to migrate our code to the new message.

That looks straightforward.

[2016-12-01 16:00] jack-oquin commented on #77
Dependencies that still need a kinetic release:

- [ ] camera1394
- [ ] eband_local_planner
- [ ] hokuyo_node
- [ ] segway_rmp
- [ ] segway_v3
- [ ] velodyne

[2016-12-06 16:16] jack-oquin commented on #77
The suggested migration path for ``hokuyo_node`` is to ``urg_node``, which we already use for ethernet-attached lasers.

[2017-01-21 15:37] jack-oquin commented on #77
Would some definition of the "device frame of reference" be useful [here](http://wiki.ros.org/velodyne_pointcloud)?

If you think so, feel free to add it, perhaps as a new section following the overview.

[2017-06-30 18:18] sxtejeda opened #83 "Segbot_v3 Controller Not Working"
After updating the workspace, running
$roslaunch bwi_launch segbot_v3.launch
causes the segbot_v3_controller located in segbot/segbot_bringup/scripts to crash. It may be worth noting that non-updated accounts (e.g. the public fri account) boots up this nodelet without any issue.

[2017-07-03 00:59] jack-oquin commented on #83
Commit e8505b48ba695914ccfe960a4fda160936e10b9f should have fixed this. Please update and try again.

[2017-07-03 19:05] sxtejeda commented on #83
I updated it, and the launch is still not working. The current error is

"Platform ID is not correct!!! Platform reports RMP_210, user set RMP_440..."

I am not sure if the actual segway base is RMP_210 or RMP_440, but I believe that the user specification is coming from segbot_v3.launch, line 58:
[code]

where echoing SEGWAY_BASE_PLATFORM on the v3 returns RMP_440

[2017-07-03 19:43] sxtejeda commented on #83
Update: changing SEGWAY_BASE_PLATFORM to RMP_210 fixes the problem, but the only way I know how to do this is just through the export command. Does someone know where this variable is originally defined?

[2017-07-03 23:48] jack-oquin commented on #83
It's supposed to be defined in your ``~/.bashrc``:
[code]

I doubt all of that is actually necessary, but that's what I'm currently using.

That needs to be clearly documented somewhere prominent.

[2017-07-04 17:31] jack-oquin commented on #83
Sadly, the segway_v3 software from Stanley Innovations requires a large number of environment variable to configure the correct robot.

If someone could figure out a clean way to define these in a system-wide location, they would probably accept a pull request to remove that messy interface.

[2017-07-05 20:47] jack-oquin commented on #77
For Kinetic, ``bwi_tools`` needs to depend on ``libtbb_dev``, rather than ``tbb``.

[2017-07-06 18:29] sxtejeda commented on #83
Update: I have found where $SEGWAY_BASE_PLATFORM is being defined! It's in segway_v3/segway_v3_config/segway_config.bash

I would alter the export, but this config file is also changing $SEGWAY_440LE_WHEEL_TRACK as well as $SEGWAY_440LE_WHEEL_OFFSET due to it it being defined as, specifically, an RMP_440_LE_ECI. Should I just open up a new issue over there?

[2017-07-14 21:32] jack-oquin commented on #83
That just sets the default configuration for all of their platforms. They're not going to want to change that.

What we need is a way to override it in the local environment. The ``~/.bashrc`` works, but is awkward. Setting it in a per-system place like ``/etc/environment`` on each robot would be good.

[2017-07-14 21:37] sxtejeda commented on #83
Placing it in etc won't work - segway_config.bash is loaded in .bashrc  whenever the workspace is sourced, so the new export has to happen after that action. Environment is loaded far before that, so it ends up being overwritten. If there is some way to protect an environmental variable from being overwritten, then we could place it in etc, but otherwise the only real fix is to define it after sou

[2017-07-14 21:39] jack-oquin commented on #83
By the way, our actual robots are RMP_110, and not 210's.

Formerly, they had no explicit support for the 110. Now, the latest Stanley version *does* support 110, and requires setting the base platform variable to that. I tested that Wednesday on the setbot_v4, roberto. I think the segbot_v3, leela, may work differently.  See:  StanleyInnovation/segway_v3#26

[2017-07-14 21:42] jack-oquin commented on #83
I am confused about when sourcing those variables takes effect.

What you say makes sense, but then it should also override the ``.bashrc`` settings, so maybe it's done conditionally somehow.

[2017-07-14 21:50] sxtejeda commented on #83
From what I understood, the file where the Segway base is initially defined is done so once the workspace is sourced.  I think it's just done sequentially, because if you export the variable before sourcing the workspace, or if you export it in etc, the variable is still defined as RMP_440.

[2017-07-14 21:52] jack-oquin commented on #83
I *never* source the workspace in my .bashrc. That's because I often use more than one.

So, there is something else going on.

[2017-08-16 21:40] jack-oquin commented on #77
A lot of things needed for ``roberto``, a segbot_v4 build and run using this rosinstall:

 * https://github.com/utexas-bwi/bwi/blob/master/rosinstall/kinetic.rosinstall

Many dependencies have to be installed manually, which is very annoying. Becaujse there are some missing dependencies, ``rosdep`` will not install everything automatically. But, most of what's needed is now installed on ``roberto`

[2017-09-05 19:06] jack-oquin commented on #77
I am able to run ``segbot_v4.launch`` on ``roberto`` with the urg_node using the ``joq/kinetic`` branch, but it's configured for an Ethernet-attached URG. It needs to configure for the USB-attached device, instead.

[2017-09-05 21:08] jack-oquin commented on #77
With some parameter updates, it now publishes data to the ``/scan`` topic. The filter node should translate that to ``/scan_filtered``, but it fails:
[code]

[2017-09-12 14:17] jack-oquin commented on #83
There does not appear to be any further work associated with this issue, so I'm closing it now.

[2017-09-12 14:17] #83 closed

[2017-09-12 15:18] #71 closed

[2017-09-12 15:21] jack-oquin opened #92 "Kinetic: port to Qt version 5"
As much as possible, we should try to make things work with both Qt4 and Qt5.

ref: #77

[2017-09-12 15:27] #92 closed

[2017-09-12 15:38] jack-oquin opened #93 "Kinetic: segbot simulation not working"
There seem to be several problems, including utexas-bwi/bwi_common#95.

ref: utexas-bwi/bwi#49

[2017-10-24 15:22] jack-oquin commented on #93
The goal is that we should be able to check out the BWI software on Ubuntu Xenial with ROS Kinetic installed, [create and build a workspace in the usual manner](https://github.com/utexas-bwi/bwi/blob/master/README.md), then run the Gazebo simulation in the usual way:
[code]

[2017-10-24 15:26] jack-oquin commented on #93
There are several problems:

* some ``rosdep`` dependencies do not exist yet, so none are resolved automatically

This makes it hard to resolve the ones actually needed, resulting in tedious repeated builds followed by installing things that turn up missing.

 * The Gazebo version 7 in Kinetic does launch, but is not completely compatible with our code base.

[2017-10-24 15:29] jack-oquin commented on #93
On launch, there is a xacro warning:
[code]

[2017-10-24 16:00] jack-oquin commented on #93
There are still references to ``segbot_gui`` in several launch scripts.

@piyushk: I thought that package was deprecated and replaced by ``bwi_rqt_plugins``?

[2017-10-24 16:17] jack-oquin commented on #93
Another ``simulation_v3.launch`` startup errors:
[code]

[2017-10-24 16:18] jack-oquin commented on #93
Another:
[code]

[2017-10-24 16:22] jack-oquin commented on #93
Some missing exec-time dependencies:
[code]

[2017-10-24 19:01] jack-oquin commented on #93
[code]

[2017-10-24 20:50] jack-oquin commented on #93
There are lots of TF warnings, like this:
[code]

I suspect that the root problem is that TF frame IDs containing an internal '/' are no longer supported. The slash is only supported between the ``$tf_prefix`` and the frame name. So, ``level_mux/map`` needs to be changed to something like ``level_mux_map``.

[2017-10-24 20:52] jack-oquin commented on #93
[code]

[2017-11-14 21:55] jack-oquin commented on #93
The ``3rdFloor/map`` frame ID seems to be constructed somewhere based on the floor names in the ``utexas_gdc/maps`` YAML files.

Looks like that's happening in the multi_level_map_utils C++ library.

[2017-11-14 22:12] jack-oquin commented on #93
That fix does not work. It's not clear that C++ library is even being used any more.

[2017-11-23 00:38] jack-oquin commented on #93
It's working today on my computer. Maybe I was doing something wrong last week. I cleaned my catkin workspace here.

[2017-12-09 01:01] jack-oquin opened #95 "Kinetic: segbot_v2 system porting tasks"
Let's build the ``segway_rmp`` package in our source tree.

It depends on segwayrmp/libsegwayrmp#17. That package uses cmake, not catkin. In order to build it in our source trees, we'll need to use ``catkin build`` rather than ``catkin_make``. Looking at the issue above, we need to migrate some more Qt4 code to Qt5, similar to the utexas-bwi/bwi_common#95 tasks.

All references to ``hokuyo_node``

[2017-12-09 22:46] jack-oquin commented on #95
Commit d3eb4c6 removes the ``hokuyo_node`` build dependency.

It still needs testing on a real segbot_v2.

[2017-12-11 22:19] jack-oquin commented on #95
Commit b2e47ae works around the Qt problem with building libsegwayrmp (segwayrmp/libsegwayrmp#17),

That allows the segbot_v2 base driver to compile. It still needs testing on a real robot.

[2017-12-11 22:46] jack-oquin commented on #95
Further testing requires installing Xenial and Kinetic on one of the segbot_v2 robots. Since it's unlikely to work right off the bat, the ability to dual-boot both Xenial and Trusty is required.

[2017-12-16 19:18] jack-oquin commented on #93
Thanks to help from Yuqian, Ricardo, Garrett and Shih-Yun, we can now checkout the Kinetic rosinstall for BWI, resolve the dependencies, build everything and run visit door list in the simulator.

[2017-12-16 19:18] #93 closed

[2017-12-19 19:28] jack-oquin commented on #77
I can run ``segbot_v4.launch`` on ``roberto`` today. It works with ``teleop_twist_keyboard``, but the ``hokuyo_laser_filters`` crash (see above) is still happening.

[2017-12-19 20:26] jack-oquin commented on #77
Commenting out the ``angle_range_filter``, seems to eliminate the crash. The code for that is in ``angle_range_filter.h`` inside ``segbot_sensors``.

[2017-12-19 20:27] jack-oquin commented on #77
Commit 5bf984b is just a work-around. Presumably that filter exists for a reason, and we need to figure out why it's crashing.

[2017-12-19 20:34] jack-oquin commented on #77
@shihyunlo says we don't actually use the scan filters on segbot_v4, so it can be commented out from the launch script.

[2017-12-19 22:50] jack-oquin commented on #77
With a fix to the bwi_launch for segbot_v4, amcl is now picking up the correct topic, and navigation is minimally working on Kinetic.

I tried visit door list and it failed repeatedly. Too tired to work on that today.

[2017-12-27 16:59] jack-oquin commented on #77
@shihyunlo reports visit door list working now on roberto (segbot_v4).

[2017-12-29 17:06] jack-oquin commented on #93
This is working now, if you follow the install and build directions carefully, and use up-to-date Kinetic packages.

[2018-01-17 19:11] jack-oquin commented on #77
These changes look like they should work on Indigo as well as on Kinetic, given a compatible version of bwi_common, which should also work except for the clingo incompatibilities between Trusty and Xenial.

[2018-01-21 18:12] jack-oquin opened #96 "segbot_logical_translator: does not belong in this repository"
The **segbot_logical_translator** package implements a generic BWI feature. It should be renamed and moved to **bwi_common**, where it belongs.

xref: utexas-bwi/bwi_common#100, utexas-bwi/bwi_common#101

[2018-01-21 18:14] jack-oquin commented on #96
I suspect **segbot_navigation** may fall into the same category, but that's a separate issue, which should be investigated on its own.

[2018-01-25 01:32] jack-oquin commented on #96
On further investigation I believe **segbot navigation** belongs where it is.

[2018-01-25 01:32] #96 closed

[2018-01-25 02:01] jack-oquin commented on #95
@nickswalker installed Xenial on the arm robot, and was able to get it moving with teleop. That actually proves quite a bit about **libsegwayrmp** and **segway_rmp**.

He was unable to do full navigation, because that robot currently has no display attached, making it difficult to localize and debug any navigation difficulties.

I am now optimistic that the other segbot_v2 machines will come up an

[2018-01-28 01:42] thomason-jesse opened #97 "(low priority) There should be a similar block of code to run is_waiting_for_touch, a behavior that should slowly rotate the wrist joint back and forth"
https://github.com/utexas-bwi/segbot/blob/03204ed7b0f01f7a583ede3fb0c86f2c0b858b3f/segbot_arm_manipulation/src/ispy_arm_server.cpp#L1072

[2018-01-31 17:45] jack-oquin opened #98 "Travis CI: fix failures"
The solution will probably be similar to what was done for utexas-bwi/bwi_common#102

[2018-01-31 21:40] jack-oquin commented on #98
The Kinetic build failed with the following error:
[code]

[2018-01-31 21:56] jack-oquin commented on #98
Not sure what the cause of the timeout problem is. There are an awful lot of packages being built for Kinetic. It would be nice if more of the dependencies could be released as binaries.

[2018-01-31 22:01] jack-oquin commented on #98
The fact that the Indigo tests are working is encouraging. They require fewer source repositories to build.

[2018-02-01 22:37] jack-oquin commented on #98
I attempted a suggested work-around for Travis jobs timing out, but it did not work with the ROS-I tools.

see: https://docs.travis-ci.com/user/common-build-problems/#My-builds-are-timing-out

[2018-02-02 15:09] jack-oquin commented on #98
I have not made any progress in solving the Travis timeout with the Kinetic branch. Things I've tried:

 * [Using travis_wait to increase the timeout](https://docs.travis-ci.com/user/common-build-problems/#My-builds-are-timing-out)
 * [Running the CI job locally](https://github.com/ros-industrial/industrial_ci/blob/master/doc/index.rst#run-industrial-ci-on-local-host) (both ways)

[2018-02-02 15:58] 130s commented on #98
I know this is a dumb thing to ask, but do builds on 1) local computer 2) if possible on Docker (since with industrial_ci each job runs on Docker) pass and/or leave any hints?

If you're curious if this is industrial_ci related I recommend opening a ticket there (I'm a maintainer. We'll like to hear users' issues).

[2018-02-02 17:03] jack-oquin commented on #98
Isaac! Good to hear from you. I really admire your excellent work on **industrial_ci**.

I have no reason to believe our current problems are in **industrial_ci**. I did run tests on my local computer using both **run_ci** and **run_travis** (I believe those are with and without docker), but so far have not succeeded. I no longer have the shell output from those attempts. In one case, package depe

[2018-02-02 20:46] jack-oquin commented on #98
Just building our whole code base on Kinetic is badly bogging down one of the old segbot_v2 laptops.

We need to create methods like using catkin tools whitelists that make it easy to compile only a useful subset of the packages.

[2018-02-02 21:00] jack-oquin commented on #98
It took a little over an hour to build all the Kinetic repo packages on **bender**, which has an old Dell laptop.

[2018-02-02 21:12] jack-oquin commented on #95
**Bender** has Xenial and Kinetic installed and is currently executing **visit_door_list**.

The navigation looks a bit jerky, with a tendency to over-steer.

The first thing to investigate is the laser output, since we now use **urg_node** on Kinetic in place of the deprecated **hokuyo_node**.

[2018-02-03 00:58] jack-oquin commented on #95
**Bender** ran **visit_door_list** for well over an hour today, drunken steering and all.

[2018-02-03 15:43] jack-oquin commented on #98
It turns out catkin build can use a metapackage as a whitelist, building only its dependencies (recursively). That way we can check out the whole repository, but only build segbot_v2 packages, or similarly for the other platforms.

[2018-02-03 20:34] jack-oquin commented on #98
I divided the tests into two parts: **only_segbot_arm** and **only_segbot_base**. The segbot base test runs successfully, but the segbot arm test fails with a similar timeout after starting **segbot_arm_manipulation**.

See: https://travis-ci.org/utexas-bwi/segbot/jobs/337009286

[2018-02-03 20:37] jack-oquin commented on #98
Commit e5d0a38 is an attempt to get the kinetic branch test to succeed by commenting out the segbot arm tests.

[2018-02-03 21:14] jack-oquin commented on #98
That worked, but we still need to figure out what's wrong with the commented-out arm tests.

[2018-02-05 16:23] jack-oquin commented on #98
@nickswalker: I'm going to leave the arm tests commented out for now. At least, the other packages can now get some CI testing.

If you want to experiment with the arm tests, uncomment the [three lines here](https://github.com/utexas-bwi/segbot/blob/kinetic/.travis.yml#L15), and push to some experiemental branch. I've been using **travis-kinetic** for that, deleting it to avoid confusion, as it te

[2018-02-06 19:14] jack-oquin commented on #98
That last commit was supposed to run the arm tests, but not fail the whole job if they did not succeed. That didn't work.

[2018-02-06 22:16] jack-oquin commented on #98
The original Travis config no longer works for Kinetic.

[2018-02-14 21:42] jack-oquin opened #99 "Kinetic: navigation getting stuck"
@nickswalker observed this on bender (segbot_v2). He says that it looks like ghost obstacles are appearing in the laser scan.

Nick was running **visit_door_list** and the robot got stuck at an angle near the trash cans. There was a bogus laser scan point keeping it from going the opposite direction. The shell output was full of yellow warning messages.

There is no evidence yet, that this problem

[2018-02-14 21:43] jack-oquin commented on #95
All the segbot_v2 robots are installed, configured, the software builds and the robots run basic regression tests.

Note that there are some problems with navigation getting stuck, see: #99.

[2018-02-14 21:43] #95 closed

[2018-02-14 21:59] jack-oquin commented on #99
@harely22: Roberto got stuck on the corner of one of the bookshelves near the wide spot at the East end of the 3N lab area. I forgot to check whether you are running Kinetic on it. I didn't see any ghost obstacles in the rviz display. I backed the robot up a short distance using **teleop_keyboard**, and it started running again.

I was running Kinetic on pickles at the same time, but could not tel

[2018-02-14 23:08] harely22 commented on #99
I noticed that in a couple of times the robot  (Roberto in both cases) got stuck next to a pod, physically touching the pod separation. The localization in both times showed that it thought that part of it was inside the wall. To release it I gave it a navigation to a close goal location and it continued visiting rooms from there. As Jack suggested, this could be used as a possible solution to suc

[2018-02-15 03:24] jack-oquin commented on #99
Sounds like the roberto problem is (mostly) a separate issue. Maybe we should open one for that specific platform. It may be due to the size of the wheels or some other platform difference.

[2018-02-20 00:02] FernandezR opened #101 "Kinectic: Velodyne-laserscan.launch failing to load"
When launching the segbot_v3 software in kinetic the pointcloud_to_laserscan nodelet is failing to load, essentially the process dies as soon as it is launched. No additional error information is provided by ROS.

I attempted to run the additional Velodyne launch files and they all work except for our pointcloud_to_laserscan nodelet.

I can fix this if you tell me where I can very the params being

[2018-02-20 01:14] FernandezR commented on #101
Added missing exec_depend to segbot_sensors for pointcloud_to_laserscan to fix launch failure.

[2018-02-20 01:14] #101 closed

[2018-02-23 18:44] jack-oquin opened #104 "segbot_arm_manipulation: bad include reference to bwi_moveit_utils/NavSafety.h"
The error looks reasonably straightforward:
[code]

[2018-02-23 20:37] jack-oquin opened #105 "segbot: create more granular launch packages"
I have in mind creating specific packages containing the launch scripts for various segbot models and configurations:

* simulation
* various segway bases
* arm robots

Each of these launch packages can be used as an explicit whitelist parameter for **catkin build**, to only compile the packages needed on that platform or configuration. As much as possible, each robot should self-discover the comp

[2018-02-24 05:34] nickswalker commented on #104
All apologies

[2018-02-24 05:34] #104 closed

[2018-03-01 23:45] FernandezR opened #107 "Kinetic: Hokuyo URG Node Param Names Incorrect"
max_ang and min_ang params should be angle_max and angle_min for the urg node in kinetic. This could be causing some of our laser errors on the robots.

[2018-03-01 23:46] jack-oquin commented on #107
Good. Would you commit those fixes to the "kinetic" branch?

[2018-03-02 00:38] FernandezR commented on #107
Yes, I'll take care of it.

[2018-03-02 04:38] FernandezR commented on #107
@jack-oquin Since you removed the angle filter hokuyo_filters_v2.yaml I believe we should add the angle_min and angle_max params from the hokuyo.launch file to the ethernet hokuyo launch file.

[2018-03-02 04:53] FernandezR commented on #107
I also believe we should be using the default param "scan_filtered" for localization_scan_topic in segbot.launch.xml for amcl on the v4 instead of the current param "scan" that is passed by  segbot_v4.launch.

[2018-03-02 15:21] jack-oquin commented on #107
You are probably right. Let's experiment with some of those parameters on the robots this afternoon.

I think we could run the ``angle_range_filter`` now. It was commented out due to early problems building ``segbot_sensors_filters``. That seems to be working now, but the config file was never restored.

Thanks for investigating!

[2018-03-02 16:16] jack-oquin commented on #99
@FernandezR discovered some parameter bugs (#107) in the Hokuyo driver configuration that may explain some or even most of these problems.

[2018-03-02 16:16] #98 closed

[2018-03-02 16:17] #51 closed

[2018-03-02 17:16] #77 closed

[2018-03-02 17:19] #61 closed

[2018-03-02 21:24] jack-oquin commented on #107
I ran with ``angle_range_filter`` active, and the results were obviously better. Navigation was reasonably smooth.

[2018-03-02 22:50] jack-oquin commented on #107
It seems to work fine with the angle min and max driver parameters: 4076825

[2018-03-09 18:40] rdelfin opened #108 "indigo branch depends on changes only present in bwi_common fern/led_study branch"
In the Indigo branch, file `segbot_led/src/led_control_server.cpp` includes `bwi_msgs/LEDCameraStatus.h`, which is only present in `bwi_common`'s `fern/led_study`. This breaks a clean clone of a new bwi clean install. Either `fern/led_study` needs to be merged into indigo or the changes that caused this dependency need to be moved out into a separate branch or repo.

I have not tested this issue i

[2018-03-09 18:48] rdelfin commented on #108
I tried working on `fern/led_study` on both `bwi_common` and `segbot`, but a separate issue shows up with  `bwi_services/SpeakMessage.h`. As a temporary solution I went back to the `indigo` branches and deleted `segbot_led` locally. It seems to have fixed the issue, but we need a better solution.

[2018-03-09 19:54] FernandezR commented on #108
The main branch of indigo should be updated though it seems that it is not. I'll try to do a pull request with the changes.

[2018-03-09 22:16] FernandezR commented on #108
You should be fine now with the indigo branch, I made pull request and merged it.

[2018-03-09 22:16] #108 closed

[2018-07-03 22:10] nickswalker opened #110 "Roberto's base doesn't power on"
We can switch the power on and boot into Ubuntu fine, but Roberto's base doesn't make any sound and doesn't engage. The red and green lights on the power switch box blink. All of the LEDs on the power board light up. @YuqianJiang and I verified that nothing is obviously disconnected, so I think the next step is to run whatever kind of base diagnostics we have access to.

[2020-01-31 15:40] #107 closed

[2020-01-31 15:40] #110 closed

[2020-01-31 15:44] maxsvetlik commented on #54
Reposted issue #96 fixed this. Closing.

[2020-01-31 15:44] #54 closed

[2020-02-05 21:26] maxsvetlik opened #111 "segbot_bringup: Teleop twist keyboard node has unsafe speeds"
The default linear and angular speed should be lower. There is also a bug in the node that repeats the last velocity command, when you adjust the speed limits.

To reproduce this:

- bring up the robot stack, run the `teleop_twist_keyboard` node.
- Move the robot forward with 'i'
- Slow the speed limits with 'z'

[2020-02-05 21:31] maxsvetlik opened #112 "segbot_sensors: Segbot V4 battery, hardware information is ignored"
The diagnostics interface was written for / around the voltage reporting abilities of the V2. The V4 segbots have much more rich battery information (State of Charge for both the propulsion and auxiliary battery) which is not tracked by Hardware Diagnostics.

Additionally, sensors such as the Velodyne VLP-16, sensors specific to the V4, are not tracked by Diagnostics.

[2020-06-09 21:38] maxsvetlik opened #116 "Update Travis rosinstall"
The newly merged PRs in other repositories will have changed the packages we need to pull in the `.rosinstall` file that Travis uses in this repository. This file should be updated with the correct repository branch information.

[2021-07-21 19:31] maxsvetlik opened #119 "Replace Travis with GH Actions"
As was done with `bwi_common` the current config for TravisCI is greatly outdated. The `segbot` repo should also transition into GH Actions for continuous integration.